* {
 	box-sizing: border-box;
 }

 body {
 	margin:0;
 }

h1 {
	margin-bottom: 15px;
	text-align: center;
}

div {
	clear: both;
}


section {
	border: 1px;
	padding: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: #7a4e30;
}

p {
	overflow: auto;
	clear: both;
}


#p1 {
	background-color: #00ff00;
	width: 80px;
	height: 25px;
	border: 1px solid black;
	font-family: arial;
	text-decoration: none;
	text-align: center;
	float: right;

}

#p2 {
	background-color: #f2ff00;
	width: 80px;
	height: 25px;
	border: 1px solid black;
	font-family: arial;
	text-decoration: none;
	text-align: center;
	float: right;

}

#p3 {
	background-color: #ff6600;
	width: 80px;
	height: 25px;
	border: 1px solid black;
	font-family: arial;
	text-decoration: none;
	text-align: center;
	float: right;

}


.row {
	width: 100%;
	margin: 20px;
}

@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3 {
		float: left;
		border: 1px solid black;
	}
	.col-lg-1 {
		width: 32%;
	}
	.col-lg-2 {
		width: 32%;
	}
	.col-lg-3 {
		width: 32%;
	}
	
}
	
@media (max-width: 991px) and (min-width: 768px) {
	.col-md-1, .col-md-2, .col-md-3 {
			float: left;
			border: 1px solid black;
		}
		.col-md-1 {
			width: 49%;
	}
		.col-md-2 {
			width: 49%;
	}
		.col-md-3 {
			width: 99%
	}
		
}

@media (max-width: 767px) {
	.col-sm-1, .col-sm-2, .col-sm-3 {
		float: left;
		border: 1px solid black;
	} 
	.col-sm-1 {
		width: 99%;
	}
	.col-sm-2 {
		width: 99%;
	}
	.col-sm-3 {
		width: 99%;
	}
}